*{
  margin: 0;
}
body{
    margin: 0;
    padding: 0;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  max-width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: grey;
}
.header h2{
  color: black;
}
.link{
  text-decoration: none;
  color: inherit;
}